.button {
    padding: 0.5rem; 
    font-weight: bold;
    /* 
        Border color 
        Color 
        Background 
            is set on specific button class */
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid; 
}

.button:hover, 
.button:active {
    /* Set on specific button class */
}

.button:focus {
    outline: 0;
}

.portalBtn {
    position: fixed; 
    bottom: 0;
    margin: 1rem;
    height: 3rem; 
    width: 3rem;
    border-radius: 24px;
    background: linear-gradient(257deg, rgba(112,219,112,1) 21%, rgba(36,143,36,1) 100%);
    box-shadow: 2px 3px 8px white;
    border: none; 
}

/* BUTTON STYLE */
.button-success {
    color: white; 
    background: #2eb82e;
    border: 1px solid #2eb82e;
    padding: 0.5rem 0.75rem;
    outline: 0;
}

.button-success:active, 
.button-success:hover {
    background: #5cd65c;
    outline: 0;
}

.button-success:focus {
    outline: 0;
}

.button-danger {
    color: white;
    background: #ff4d4d; 
}

.button-danger:hover, 
.button-danger:active {
    background: #ff8080;
    
}

.button-light {
    background: transparent;
    border-color: transparent;
    color: black;
}

