/* CARD */
.card {
    padding: 1rem 0;
    margin: 0.5rem 1rem;
    text-align: center;
    display: block; 
    height: 100%;
}

.card label {
    display: block; 
    font-weight: bold;
    margin-bottom: 0.5rem;
    
}

.card input {
    width: 94%;
    padding: 0.5rem; 
    margin-bottom: 0.75rem;
    border-color: #ddd;
}

.card select {
    display: inline;
    width: 50%;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    border-color: #ddd;
    outline: 0;
}

.card textarea {
    width: 100%;
    border-color: #ddd;
}

.card-input{
    padding: 0 1.5rem; 
}

.card h2 {
    color: rgba(36,143,36,1);
    font-weight: 400;
}

.input div {
    margin: 0.25rem 0;
}


/* BUTTON */
.action {
    padding: 0 1.5rem;
    margin-top: 0.75rem;
    display: flex; 
    justify-content: space-between;
}
