.user {
    margin: 4rem 1rem; 
    padding: 2rem; 
    text-align: center;
}

.user h1 {
    color: rgba(36,143,36,1);
    font-weight: 400;
}

.action {
    text-align: center;
    margin-top: 1.5rem;
}

.btn {
    padding: 0.5rem 0.75rem;
    background: linear-gradient(257deg, rgba(112,219,112,1) 21%, rgba(36,143,36,1) 100%);
    color: white; 
}

.btn:hover {
    background: #c61aff;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(257deg, rgba(112,219,112,1) 21%, rgba(36,143,36,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }