
/* TABLE */
.table{
    border: 1px solid #ddd;
    border-radius: 6px;
    border-collapse: collapse;
    padding: 0.5rem; 
    width: 100%;
    margin: auto;
    overflow: scroll;
}

.table thead th, .table tbody td{
    border: 1px solid #ddd;
    
}

.table thead tr, .table tbody tr{
    border: 1px solid #ddd;
}

.table thead {
    /* position: sticky;
    top: 0; */
    background: linear-gradient(257deg, rgba(112,219,112,1) 21%, rgba(36,143,36,1) 100%);;
    color: white;
    font-weight: bold;
    text-align: center;
}

.table thead th {
    padding: 1rem; 
    font-size: 12px;
}

.table tbody td {
    padding: 0.75rem;
    font-weight: 300;
    font-size: 12px;
}

.table tbody tr:nth-child(odd) {
    background: #e6e6e6;
}

.table tbody tr:hover {
    background: #cccccc;
}

.tableWrapper {
    margin-top: 1rem;
    height: 289px;
    overflow-x: auto;
    overflow-y: scroll;
}


/* CARD */
.card {
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;

    overflow: scroll;
}
.card h1 {
    color: rgba(36,143,36,1); 
    margin: 0.5rem;
    text-align: center;
    font-weight: 400;
}


/* STATUS */
.outcome {
    color: red; 
    text-align: center;
}

.income {
    color: #33cc33;
    text-align: center;
}

.info {
    color: black;
}

/* BUTTON */
.btn {
    margin: 1rem 0;
}

.btn:focus {
    outline: none;
}

/* LINK */
.link {
    text-decoration: none;
    color: inherit !important;
}